@import '/static/css/react-modal.css';

.container {
    color: #F7F7F7;

    position: fixed;
    top: 35px;
    bottom: 35px;
    right: 35px;
    left: 35px;
    pointer-events: none;

    /*transition: opacity .25s ease-in-out, top .25s ease-in-out, transform .25s ease-in-out, visibility 0s ease-in-out .25s;*/
}

.container.open {
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    opacity: 0;
    visibility: hidden;

    background-color: rgba(0, 0, 0, .75);

    pointer-events: all;

    transition: opacity .25s ease-in-out, visibility 0s ease-in-out .25s;

    z-index: 4;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
}

.content {
    background-color: #0095d4;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Raleway', serif;

    width: 100%;
    max-height: 100%;

    overflow-y: auto;

    pointer-events: all;
    outline: none;
}

.content > p, .content > h3 {
    padding: 0 10px;
}

.content > h3 {
    text-align: center;
}

.content > p:last-of-type {
    text-align: center;
}

@media (min-width: 600px) {
    .content {
        width: 530px;
        margin-left: auto;
        margin-right: auto;

    }
}

.icon {
    width: 50px;
    height: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
    border-bottom: dotted 1px #F7F7F7;
}