@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Raleway', serif;
}

.tooltip {
    background-color: #0095d4 !important;
    border-color: #0095d4 !important;
    color: #F7F7F7;
}