.container {
    box-sizing: border-box;
    display: block;

    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 25px;
}

.container > form {
    height: 100%;
}

.input {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #0095d4;
    transition: outline .25s, box-shadow .25s, width .25s;
    border-radius: 25px;
}

.container:hover input, .input:focus {
    box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.25);
    transition: outline .25s, box-shadow .25s, width .25s;
}

.container:hover .send, .input:focus + .send {
    opacity: 1;
    transform: scale(1);

    transition: all .15s ease-in-out;
}

.send {
    content: '';
    display: inline-block;

    box-sizing: border-box;
    height: 50px;
    width: 50px;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    background: #0095d4 url('/static/img/send.svg') no-repeat center;
    background-size: 40%;

    opacity: 0;
    transform: scale(.4);

    position: absolute;
    top: 0;
    right: 0;

    transition: all .15s ease-in-out;
}