.message {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    display: inline-block;
}

.container {
    height: calc(100% - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.list {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 25px 0;
    width: 100%;
    min-height: 100%;
    background: #efefef url('./geometry.png') repeat;
}

.entry {
    margin: 5px;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

.own {
    composes: entry;
    text-align: right;
    padding-left: 25px;
    animation-name: flyInLeft;
}

.own > .message {
    background-color: #2bafff; /*TODO: Silbury color!*/
}

.other {
    composes: entry;
    text-align: left;
    padding-right: 25px;
    animation-name: flyInRight;
}

.other > .message {
    background-color: #d0d0d0;
}

/********************************
ANIMATIONS                      *
********************************/
@keyframes flyInLeft {
    from {
        opacity: 0;
        position: relative;
        right: -100%;
    }

    to {
        opacity: 1;
        right: 0;
        position: relative;
    }
}

@keyframes flyInRight {
    from {
        opacity: 0;
        position: relative;
        right: -50px;
    }

    to {
        opacity: 1;
        position: relative;
        right: 0;
    }
}