.container {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-bottom: 75px;
}

.list {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0 15px 75px 15px;
    width: 100%;
    min-height: 100%;
    background: #f5f5f5; /*url('./geometry.png') repeat;*/
}

.list-end {
    position: absolute;
    bottom: 0;
}