.container {
    display: inline-block;
    overflow: hidden;
}

.rating {
    transition: height .25s ease-in-out, width .25s ease-in-out, margin-left .25s ease-in-out;
    overflow: hidden;
}

.name {
    display: block;
    font-size: .85em;
    font-style: italic;
}

.star-empty {
    width: 15px;
    height: 15px;
    margin: 2px;
    background: url('/static/img/star-empty.svg') no-repeat center;
    background-size: contain;
    display: inline-block;
}

.star-full {
    width: 15px;
    height: 15px;
    margin: 2px;
    background: url('/static/img/star-full.svg') no-repeat center;
    background-size: contain;
    display: inline-block;
}

.info {
    height: 1em;
    width: 1em;
    display: inline;
    margin-right: 3px;
}