.message {
    padding: 25px 10px;
    border-radius: 7px;
    border: none;
    color: #F7F7F7;
    display: inline-block;
    max-width: 400px;
    min-width: 100px;
    word-wrap: break-word;
    position: relative;

    transition: min-width, padding;
    transition-duration: .33s;
    transition-timing-function: ease-in-out;
}

.message[data-overlay-open="true"] {
    min-width: 300px;
    padding: 30px 10px;

    transition: min-width, padding;
    transition-duration: .33s;
    transition-timing-function: ease-in-out;
}

.entry {
    margin: 15px 0;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    position: relative;
}

.user-icon {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 0;
}

.own {
    composes: entry;
    text-align: right;
    padding-left: 25px;
    animation-name: flyInLeft;
}

.own > .message {
    background-color: #0095d4;
    border-bottom-right-radius: 0;
    margin-right: 40px;
}

.own > .user-icon {
    right: 0;
    background-color: #0095d4;
    border: solid 2px #0095d4
}

.other {
    composes: entry;
    text-align: left;
    padding-right: 25px;
    animation-name: flyInRight;
}

.other > .message {
    background-color: #878787;
    border-bottom-left-radius: 0;
    margin-left: 40px;
}

.other > .user-icon {
    left: 0;
    background-color: #878787;
    border: solid 2px #878787
}

.rich-container {
    display: block;
    width: 100%;
    margin-top: 15px;
}

.rich-container.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.rich-container > * {
    display: block;
    border: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.rich-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.controls {
    position: absolute;
    right: 9px;
    top: -16px;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 25px 10px;

    font-size: 12px;

    background-color: #324D4CB3;
    border-radius: 7px 7px 7px 0;

    z-index: 1;
}

.overlay > div {
    height: 100%;
}

.message[data-overlay-open="false"] > .overlay {
    opacity: 0;
    display: none;

    transition: opacity .25s ease-in-out, display 0s ease-in .25s;
}

.message[data-overlay-open="true"] > .overlay {
    opacity: 1;
    display: inline-block;

    transition: opacity .25s ease-in-out, display 0s ease-in .25s;
}

.overlay > *:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.overlay > [data-open="true"] {
    display: block;
    opacity: 1;

    transition: opacity .25s ease-in-out, display 0s .25s;
}

.overlay > [data-open="false"] {
    display: none;
    opacity: 0;

    transition: opacity .25s ease-in-out, display 0s .25s;
}

/********************************
ANIMATIONS                      *
********************************/
@keyframes flyInLeft {
    from {
        opacity: 0;
        position: relative;
        right: -100%;
    }

    to {
        opacity: 1;
        right: 0;
        position: relative;
    }
}

@keyframes flyInRight {
    from {
        opacity: 0;
        position: relative;
        right: -50px;
    }

    to {
        opacity: 1;
        position: relative;
        right: 0;
    }
}