{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools %}
    <ul class="object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
                <li>
                    {% url cl.opts|admin_urlname:'add' as add_url %}
                    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                        {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'load_intents_dialogflow' access_token='1cd8d781623b4d24bb44b611728db998' %}?back={{ request.path }}"
                       class="golink">
                        {% blocktrans with cl.opts.verbose_name_plural as name %}Load {{ name }} from
                            Dialogflow{% endblocktrans %}
                    </a>
                </li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}