.container {
    height: 50px;
    width: 75px;

    background-color: #0095d4;
    color: white;
    text-align: center;

    padding: 10px;

    position: fixed;
    top: 0;
    left: calc(50% - 75px);

    box-sizing: border-box;
}

.normal {
    transform: rotate(0deg);
    transition: transform .5s;

    color: white;
    fill: white;

    position: relative;
    top: 0;
    height: 100%;
}

.training {
    animation: lifting 2s ease-in-out infinite;

    color: white;
    fill: white;

    position: relative;
    top: 0;
    height: 100%;
}

@keyframes turning {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes lifting {
    50% {
        top: -25%;
    }
}